<!--page 18-->

<div>
    <ul class="navbar navbar-nav">
        <li>
            <button class="btn btn-outline-info m-2" (click)="getAllAircrafts()">Aircrafts</button>
            <button class="btn btn-outline-info m-2" (click)="getGesignedAircrafts()">Design</button>
            <button class="btn btn-outline-info m-2" (click)="getDevelopementAircrafts()">Developement</button>

        </li>
    </ul>
    <ng-container *ngIf="error">
        <div class="p-2 text-danger"> {{error}}</div>
    </ng-container>
    <ng-container *ngIf="aircrafts">
        <table class="table table striped">
            <tr>
                <th>Id</th><th>Program</th><th>Design</th><th>Developement</th>
            </tr>
            <tr *ngFor="let aircraft of aircrafts">
                <td>{{aircraft.Id}}</td>
                <td>{{aircraft.prog}}</td>
                <td>{{aircraft.Design}}</td>
                <td>{{aircraft.Developement}}</td>
            </tr>
        </table>
    </ng-container>
</div>
