<!--page 18-->

<div>
    <ng-container *ngIf="error">
        <div class="p-2 text-danger"> {{error}}</div>
    </ng-container>
    <app-aircraft-navbar (eventEmitter)="onActionEvent($event)"></app-aircraft-navbar>
    <ng-container *ngIf="aircrafts$ | async as result" [ngSwitch]="result.dataState">

        <ng-container *ngSwitchCase="dataStateEnum.LOADING">
            <div class="p-2"> Loading </div>
        </ng-container>

        <ng-container *ngSwitchCase="dataStateEnum.LOADED">
            <div class="p-2"> Loaded </div>
        </ng-container>

        <ng-container *ngSwitchCase="dataStateEnum.ERROR">
            <div class="p-2 text-danger"> Error </div>
        </ng-container>

        <table class="table table-striped">
            <tr>
                <th>Id</th><th>Program</th><th>Design</th><th>Developement</th>
            </tr>
            <tr *ngFor="let aircraft of result.data">
                <td>{{aircraft.id}}</td>
                <td>{{aircraft.prog}}</td>
                <td>{{aircraft.design}}</td>
                <td>{{aircraft.developement}}</td>
            </tr>
        </table>
    </ng-container>
</div>
